:root {
  font-family: 'Roboto', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1A1E44;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #7A7ECD;
  text-decoration: inherit;
}

a:hover {
  color: #5E62C5;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1A1E44;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #7A7ECD;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #1A1E44;
    background-color: #E5F0FF;
  }

  a:hover {
    color: #5E62C5;
  }

  button {
    background-color: #D7E3FF;
    color: #1A1E44;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #ffffff;
    background-color: #0B1437;
  }

  a:hover {
    color: #5E62C5;
  }

  button {
    background-color: #1A1E44;
    color: #ffffff;
  }
}

@media (prefers-color-scheme: dark) {
  button:hover {
    background-color: #2D3357;
  }

  button:focus,
  button:focus-visible {
    box-shadow: 0 0 0 2px #7A7ECD, 0 0 0 4px #0B1437;
  }
}